.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
dist/
out/
**/src/generated
syntaxes/
*.tsbuildinfo
*.vsix
*.db
*.db-shm
*.db-wal
*.js.map
coverage/
**/coverage/
DEBUG_ANALYSIS_RESULT.json
**/examples/generated/
temp.*